<div class="container">
  <div class="row d-flex flex-row justify-content-center">
    <div class="col-8 card">
      <div class="card-body">
        <h5 class="card-title">Add a Contact</h5>
        <form [formGroup]="contactForm" (ngSubmit)="processForm()">
          <table class="table">
            <tr>
              <td>
                <label for="name">Name:</label>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                />
              </td>
            </tr>
            <tr *ngIf="hasError('name') && isDirty('name')">
              <td></td>
              <td>Please input a name.</td>
            </tr>
            <tr>
              <td><label for="email">Email:</label></td>
              <td>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                />
              </td>
            </tr>
            <tr *ngIf="hasError('email') && isDirty('email')">
              <td></td>
              <td>Please input a email.</td>
            </tr>
            <tr *ngIf="hasEmailError('email') && isDirty('email')">
              <td></td>
              <td>Please input a valid email.</td>
            </tr>
            <tr>
              <td><label for="mobile">Mobile:</label></td>
              <td>
                <input
                  type="string"
                  class="form-control"
                  formControlName="mobile"
                />
              </td>
            </tr>
            <tr *ngIf="hasError('mobile') && isDirty('mmbile')">
              <td></td>
              <td>Please input a mobile number.</td>
            </tr>
            <tr *ngIf="hasMobileError('mobile') && isDirty('mobile')">
              <td></td>
              <td>Please input a valid mobile number.</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button
                  class="btn btn-outline-primary"
                  type="submit"
                  [disabled]="this.contactForm.invalid"
                >
                  Add Contact
                </button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
