<div class="container">
  <div class="row">
    <div class="col-6 card">
      <div class="card-body">
        <h5>Your Contacts</h5>
        <form action="">
          <table class="table">
            <thead>
              <td scope="col">ID</td>
              <td scope="col">Name</td>
              <td scope="col">Email</td>
              <td scope="col">Mobile</td>
            </thead>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button class="btn btn-outline-danger">X</button></td>
            </tr>
          </table>
        </form>
      </div>

    </div>
  </div>
</div>
