<div class="container">
  <div class="display-3">Address Book</div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" type="button" (click)="toggleComponent()">Add</button>
      <button class="btn btn-primary" type="button" (click)="toggleComponent()">List</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-contact-form [hidden]="hiddenComponent=='list'"></app-contact-form>
      <app-contact-list [hidden]="hiddenComponent=='form'"></app-contact-list>
    </div>
  </div>
</div>
